html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', cursive;
    font-stretch: expanded;
    font-weight: 500;

}

p {
    font-family: 'Roboto', sans-serif;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 220px 50px 2287px 250px;
}

#grid > h1 {
    margin-left: 10px;
}

* a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul:first-child {
    padding: 0px;
}

nav ul li {
    display: inline-block;
    padding-left: 10px;
}

nav ul li a {
    display: inline-block;
    font-size: 0.8rem;
    width: 130px;
    height: 35px;
    line-height: 35px;
    border-radius: 35px;
    background-color: #d8d8d8;
    text-align: center;
    color: #bf89ac;

}

nav ul li:nth-child(2) a {
    width: 90px;
}

nav ul li:nth-child(3) a {
    width: 90px;
}

nav ul li:nth-child(4) a {
    width: 110px;
}

nav ul li:nth-child(5) a {
    width: 100px;
}

nav ul li:nth-child(8) a {
    width: 90px;
}

nav ul li:nth-child(9) a {
    width: 90px;
}

nav ul li:nth-child(10) a {
    width: 90px;
}

#grid header#ancla {
    text-align: center;
}

ul#menu {
    width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 5px;
}

ul#menu li {
    display: inline;
    padding-right: 20px;
}

ul#menu li a {
    line-height: 1rem;
    display: inline-block;
    width: 220px;
    height: 40px;
    border-radius: 40px;
    background-color: #9E4477;
    color: #B1A9A2;
    text-align: center;
    line-height: 40px;
}

ul#menu li.participa a {
    display: inline-block;
    width: 220px;
    height: 40px;
    border-radius: 40px;
    background-color: #9E4477;
    text-align: center;
    line-height: 40px;
    color: #B1A9A2;

}

div#intro {
    width: 762px;
    margin: 0px auto;
    margin-bottom: 100px;
}

#intro p,
h4 {
    padding: 1rem;
    text-align: justify;
    line-height: 1.5rem;
    margin: 0;

}

#intro h4 {
    font-weight: bold;
}

#intro p:nth-of-type(1),
#intro p:nth-of-type(2) {
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: #828290;
    margin: 0;

}

#intro p:nth-of-type(3),
#intro p:nth-of-type(4),
#intro p:nth-of-type(5),
#intro ul li p:nth-of-type(1) {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #828290;
    margin: 0px;
}

footer {
    margin-top: 100px;
    background-color: #974478;
    line-height: 125px;
}

footer ul {
    width: 762px;
    height: 150px;
    margin: 0 auto;
    outline: 1px solid black;
    padding: 0;
}

footer nav {
    display: flex;
    justify-content: space-around;
    padding: 0px;

}

footer nav a {
    width: 150px;
    text-align: center;
    color: white;
}

footer nav a.copyright {
    width: 400px;
    color: white;
}
